body {
    margin: 0;
}

.form-space {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.form {
  background-color: rgb(62, 112, 112);
  border-radius: 20px;
  box-sizing: border-box;
  height: 700px;
  padding: 25px;
  width: 500px;
  box-shadow: 25px 25px 25px 25px rgba(0, 0, 0, 0.5);
}

.title-signup {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 1.5rem;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 2rem;
}

.input-container {
  height: 40px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.ic3 {
  margin-top: 30px;
  margin-bottom: -15px;
}

.input {
  background-color: rgb(94, 158, 158);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: white;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: rgb(62, 112, 112);
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
  width: 100px;
}

.placeholder {
  color: white;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 15px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: white;
}

.input:focus ~ .placeholder {
  color: white;
  font-weight: bold;
}

.role-label {
  color: white;
}

.roles {
  margin-left: 10px;
  padding: 3px;
  border-radius: 5px;
  border: none;
}

.submit {
  background-color: rgb(135, 184, 184);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: rgb(94, 158, 158);
}

.info {
  background-color: rgb(240, 71, 71);
  width: 70%;
  color: white;
  font-size: 12px;
  font-weight: 800;
  border-radius: 10px;
  text-align: center;
  margin-top: 5px;
  padding: 3px;
  margin-bottom: -5px;
  float: right;
}

.main-info {
  background-color: rgb(240, 71, 71);
  width: 100%;
  color: white;
  font-size: 12px;
  font-weight: 800;
  border-radius: 10px;
  text-align: center;;
  padding: 3px;
  margin-top: -30px;
  margin-bottom: -20px;
}